/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Asterisk wildcard selector to overide default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles */
body {
    font-family: 'merriweather', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

h1, h2, h3 {
    text-transform: capitalize;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Header */
header {
    background-color: white;
    width: 100%;
    background: url("../images/banner.webp") no-repeat center center/cover;
    text-align: center;
}

h1 {
    padding-top: 2rem;
    font-size: 300%
}

#menu {
    font-size: 110%;
}

/* Nav */

nav {
    text-align: center;
    margin: 20px 0 0 ;
    padding: 10px 0;
    }
    
    nav ul{
      list-style: none;
      margin: 0 2px;
      padding: 0;
    }
    
    nav li {
       display: inline-block;
       padding: 5px 5px;
    }
    
    nav a {
      font-weight: normal;
      padding: 10px 5px;
      font-size: .80em;
    }

/* main content */

main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

img {
    width: 300px;
    height: auto;
}

/* footer */

footer {
    background-color: white;
    width: 100%;
    background: url("../images/banner.webp") no-repeat center center/cover;
    text-align: center;
    margin: 20px 0 0 ;
    padding: 10px 0;
}

footer ul{
    list-style: none;
    margin: 0 2px;
    padding: 0;
  }
  
  footer li {
     display: inline-block;
     padding: 5px 5px;
  }
  
  footer a {
    font-weight: normal;
    padding: 10px 5px;
    font-size: .80em;
  }

#social-networks {
    font-size: 200%;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    img {
        width: 550px;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    img {
        width: 650px;
    }
}