/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Asterisk wildcard selector to overide default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles */
body {
    font-family: 'open sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: left;
    align-items: center;
}

body, nav {
    background-image: linear-gradient(to right,slategray, white, slategray);
}

h1,
h2,
h3 {
    text-transform: capitalize;
    text-align: center;
}

h2 {
    padding-bottom: 30px;
}

h3 {
    padding-bottom: 30px;
}

p {
    margin: 1.5rem;
}

/* Header */
header {
    background-color: white;
    width: 100%;
    text-align: center;
}

h1 {
    padding: 2rem;
    background: url("../images/banner.webp") no-repeat center center/cover;
    font-size: 200%
}

/* making the "of" in the h1 on the index.html lowercase */

#lowercase {
    text-transform: lowercase;
}

#menu {
    font-size: 110%;
}

/* Nav */

nav {
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0 2px;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 5px 5px;
}

nav a {
    font-weight: normal;
    padding: 10px 5px;
    font-size: .80em;
}

/* main content */

main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

img {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

/* Back to top button */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}

/* Form page */

#name-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

#radio-buttons {
    margin: 3rem;
    align-items: center;
}

#question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

#submit-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 10rem;
    height: 5rem;
    font-size: 150%;
}

/* Form return page */

#thank-you {
    text-align: center;
}

/* footer */

footer {
    background-color: white;
    width: 100%;
    background: url("../images/banner.webp") no-repeat center center/cover;
    text-align: center;
    margin: 20px 0 0;
    padding: 10px 0;
}

footer ul {
    list-style: none;
    margin: 0 2px;
    padding: 0;
}

footer li {
    display: inline-block;
    padding: 5px 5px;
}

footer a {
    font-weight: normal;
    padding: 10px 5px;
    font-size: .80em;
}

#social-networks {
    font-size: 200%;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    img {
        width: 80%;
    }

    main {
        margin: 47px 20% 0;
    }

    body {
        font-size: 150%
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    img {
        width: 60%;
    }
}